


%btn-property {
  width: 152px;
  display: inline-block;
  padding:8px 0;
  text-align: center;      
  cursor: pointer;
  font-size: 0.90em;
  @include transition(background-color 0.5s linear, color 0.5s linear);
  @media (max-width:1024px){
    width: 130px;
    padding: 7px 4px
  }
  @media (max-width:767px){
    font-size: 0.90em;    
  }
  @media (max-width:480px){
    width: 115px;
  }
}
.btn-item{
  @extend %btn-property;
  margin-right:10px;
  &.save{  
      color:#2A2A2A;
      border: 1px solid $btn-border;
     &:not(.disable):hover{       
      background-color: $bg-color;
      color: $white;
     }      
   }
   &.submit{
 background-color: $bg-d9;
 color: #333333;
 border:1px solid $btn-br-primary;
 &:not(.disable):hover{   
  background-color: $light-black;
  color: $white;
 }
  }
  &.pre{
    color: $selectd;
    border: 1px solid $selectd;
    &:not(.disable):hover{
      background-color:$selectd;
      color: $white;
    }
  }
  &.frw{
    color: $selectd;
    background-color:$selectd; 
    border: 1px solid $selectd;
    color: $white;
    &:not(.disable):hover{
      background-color: $fd-47;
    }
  }
 &:last-child{
  margin-right:0px;
 }
 &:empty{
   display: none;
 }
}

.survey-begin{
  // position: fixed;
  //   bottom: 35px;
    width: 100%;
    margin-top: 20px;
   
    // left: 0;
    @media (max-width:1024px){
      margin-bottom: 40px;
    }

}

// .btn-item {
 
//     &.save{
//         border:1px solid #000;
//         color:$drak-gray;
//         background-color: transparent;
//     }

//     &.prev{
//         border:1px solid #fff;
//         color:#fff;
//         background-color: transparent;
//     }

//     &.submit{
//         color:#333;
//         background-color: $bg-d9;
//     }
// }